version: 2
jobs:
  build:
    docker:
      - image: thegreenhouse/nodejs-dev:0.2.0

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Project Dependencies
          command: yarn install

      - run:
          name: Run Linter
          command: yarn lint

      - run:
          name: Run Unit Tests
          command: export NODE_ENV=production && yarn test

      - run:
          name: Execute The Build
          command: yarn build