@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}

:host {
  width: 100%;
  color: black;
  & h1 {
    text-align: center;
    width: 100%;
    color: green;
  }
  & .container {
    margin-top: 30px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
