@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:host {

  & header {
    background-color: #ffffff;
  }

  & header img {
    display: inline-block;
    height: 100px;
    width: 100px;
    animation: logo-spin infinite 30s linear;
  }

  & header h1 {
    margin: 5px;
    padding: 0;
    color: #020202;
  }

}