:host {
  width: 100%;
  & nav {
    background-color: green;
    border: 1px solid black;
  }
  & .brand a {
    color: white;
    display: block;
    text-decoration:none;
    &:focus{
      outline: none;
    }
  }
  & ul {
    margin: 0;
    margin-left: auto;
    & li {
      float: left;
      display: block;
      & a {
        font-weight: 600;
        color: white;
        text-decoration: none;
        padding: 25px;
        font-size: 18px;
        display: block;
        &:hover {
          color: green;
          background-color: white;
        }
      }
    }
  }
}
